{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">  
{% block stylesheets %}
        <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{% if app.user %}
  <div class="mb-3">
    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
  </div>
{% endif %}
    
 <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Sign In </h2>
                

                <!-- Icon -->
                <div class="fadeIn first">
                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form>
                
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>               
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                >
                <input type="submit" class="fadeIn fourth" value="Sign in">
                </form>
            </div>
            </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    

</form>
{% endblock %}
