{% extends 'base2.html.twig' %}

{% block title %}Hello PostulerController!{% endblock %}

{% block body %}
                         
        {{ form_start(monform) }}
        {{ form_row(monform.nom) }}
        {{ form_row(monform.tel) }}
          {{ form_row(monform.formation) }}
            {{ form_row(monform.adresse) }}
              {{ form_row(monform.cv) }}
                {{ form_row(monform.user,{'value':app.user.id}) }}
{{ form_row(monform.annonce) }}

        <button class="btn btn--radius btn--green" type="submit" >Register</button>
        {{ form_end(monform) }} 
    

{% endblock %}
