{% extends 'base2.html.twig' %}

{% block title %}Hello DetailjobController!{% endblock %}

{% block body %}
<main>
    <!-- Hero Area Start-->
                <div class="slider-area ">
                <img class="single-slider section-overly slider-height2 d-flex align-items-center" src="/img/hero/cv_bg.jpg" alt=""/>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="hero-cap text-center">
                                    <h2>UI/UX Designer</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Hero Area End -->
                
        <!--*************************** Right Content**************************-->
                    <div class="col-xl-12 col-lg-12">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>                           
                          <ul>
                              <li>Title :{{ann.titre}}</li>
                              <li>Location : {{ann.adresse}}</li>
                              <li>Salary   : {{ann.salaire}}</li>
                              <li>Description : {{ann.description}}</li>
                              
                          </ul>
                       </div>
                       
                    </div>
                    <div class="col-xl-12">
                    
                        <div class="row">

                            {{ form_start(monform) }}

                               <div class="col-sm-6">
                                    <div class="form-group">

                                    {{ form_widget( monform.nom ) }}
                                 </div>
                                 </div>
                                   <div class="col-sm-6">
                                    <div class="form-group">

                            {{ form_widget(monform.tel) }}
                             </div>
                             </div>
                              <div class="col-sm-6">
                                    <div class="form-group">

                            {{ form_widget(monform.formation) }}
                             </div>
                             </div>
                              <div class="col-sm-6">
                                    <div class="form-group">

                            {{ form_widget(monform.adresse) }}
                             </div>
                             </div>
                             <div class="col-sm-6">
                                    <div class="form-group">
                            {{ form_widget(monform.brochure) }}
                             </div>
                             </div>
                              <div class="col-sm-6">
                                    <div class="form-group">
                            {{ form_widget(monform.user,{'value':app.user.id}) }}
                             </div>
                             </div>
                             <div class="col-sm-6">
                                    <div class="form-group">
                            {{ form_widget(monform.annonce ,{'value':ann.id}) }}
                             </div>
                             </div>
                              <div class="col-sm-6">
                                    <div class="form-group">
                            <button  class="button button-contactForm boxed-btn" type="submit" >valider</button>
                       </div>
                       </div>
                        {{ form_end(monform) }}   
                       
                    
                </div> 
                </div>
            </div>
        </div>
    
        <!-- job post company End -->
    </main>
     
<!--<section class="contact-section">
 <div class="container">
    <div class="site-wrap">
        <div class="row">
                    <div class="col-sm-6">
                        <h2 class="contact-title">Postuler</h2>
                    </div>
                
    </div>
   </div>
  </div>
</section>-->
 
{% endblock %}
